tab-bar {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    text-align: center;
    line-height: 120px;
    background: rgba(0,0,0,0.9);
    background: white;
    -webkit-transform: translate3d(0,0,1000px);
    border-top: 1px solid #ccc;
    z-index: 1;
}

tab-items {
    display: block;
    width: 100%;
    height: 100%;
}

tab-item {
    display: inline-block;
    text-align: center;
    width: 50%;
}

tab-item:first-child,
tab-item:nth-child(2) {
    border-right: 1px solid #ccc;
}

tab-item.active {
    background: #eee;
}
