inf-scroll {
    display: block;
    height: 140px;
    width: 100%;
    color: rgba(0, 0, 0, 0.48);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.17);
    line-height: 140px;
    font-size: 40px;
    text-align: center;
}
