pull-to-refresh {
    position: absolute;
    top: 90px;
    display: block;
    height: 96px;
    width: 100%;
    font-size: 30px;
    color: #999;
    transform-origin: 50% 100%;
    text-align: center;
}

pull-to-refresh .spinner {
    position: absolute;
}

pull-to-refresh-arrow {
    display: inline-block;
    opacity: 1;
}

pull-to-refresh-arrow:before {
    font-family: "erste" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e802";
}
