nav-bar,
back-button {
    display: block;
    position: absolute;
}

nav-bar {
    height: 90px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    transform: translate3d(0, 0, 9999px)
}

menu-button {
    right: 0px;
    height: 90px;
    font-size: 50px;
    padding-top: 5px;
    display: block;
    position: absolute;
    width: 100px;
}

back-button {
    height: 90px;
    width: 110px;
    font-size: 36px;
    padding: 0px 36px;
    text-align: left;
    display: block;
}
