sidebar-view {
    background: #eee;
    position: absolute;
    -webkit-transition-duration: 0s;
    display: block;
    height: 100%;
    top: 0;
    width: 100%;
    padding-left: 20%;
}

sidebar-items {
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    padding-left: 60px;
}

sidebar-item {
    display: block;
    font-size: 80px;
    font-weight: 100;
    top: 0;
    padding: 40px 20px;
    border-bottom:1px solid #aaa;
}

sidebar-item i {
    left: 45px;
    top: 5px;
    font-size: 59px;
    position: absolute;
}

sidebar-item:active {
    background-color: #ccc;
}

sidebar-label {
    display: block;
    font-size: 45px;
    color: black;
}
